header {
  background-color: white;
  height:70px;
  width:100%;
  border-bottom: 1px solid
}

.logo {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: 1% 15%;
  height: 100px;
  width:100%;
}