.places {
  margin-top: 35px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.places h1 {
  font-size: 30px;
  margin: 0;
  margin-left: 20px;
  width: 100%;
}

.places article {
  width: 390px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}

.places h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
}